.sideBar {
    height: 100%;
    max-width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sideBar a {
    padding: 6px 40px 20px 40px;
    text-decoration: none;
    color: #f1f1f1;
    display: block;
  }
  .sideBar a:first-child:hover {background: none}
  .sideBar a:hover {
    background-color: #04353569;
  }

.panel {
    margin-left: 253px;
}
.list{border-radius: 15px;}
table {width: 100%;}
td, th {padding: 10px;}
th {background-color: rgba(221, 221, 221, 0.363);}
.myForm{border-radius:15px}

#myInput{
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  color: rgb(121, 121, 121);
  border-bottom: 1px solid #ddd;
}
#myInput:focus {outline: none !important; color: #111}