.sideBar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }
  
  .sideBar a {
    padding: 6px 40px 20px 40px;
    text-decoration: none;
    color: #f1f1f1;
    display: block;
  }
  .sideBar a:first-child:hover {background: none}
  .sideBar a:hover {
    background-color: #04353569;
  }

  #closeBtn2 {
    display: none;
    color: #fff;
    background: red;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    position: fixed;
    right: 20px;
}
#enable{
    background: none;
    border: none;
    padding-right: 15px;
}

.panel {
    margin-left: 253px;
}
.list{border-radius: 15px;}
table {width: 100%;}
td, th {padding: 10px;}
th {background-color: rgba(221, 221, 221, 0.363);}
.myForm{border-radius:15px}

#myInput{
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  color: rgb(121, 121, 121);
  border-bottom: 1px solid #ddd;
}
#myInput:focus {outline: none !important; color: #111}

@media (max-width: 768px){
  .sideBar{
    width: 0;
    position: fixed;
    left: -24px;
  }
  .panel{margin-left: 0;}
  .list{
    margin: 0 !important;
    padding: 0!important;
  }
}
@media (min-width: 769px) {
  .sideBar{width: 254px !important}
  #enable{display: none}
}